.nav{
    /* backdrop-filter: blur(5px); */
    background-color: black; 
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
nav ul li:hover{
    color: #4ade80;
    transition: color 0.3s ;

}